* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 14px;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Nanum Gothic';
    font-weight: 400;
    color: #222;
    font-style: normal;
    line-height: 1.35em;
}

*,
:after,
:before {
    box-sizing: border-box;
}

:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    line-height: 1.5;
    overflow-wrap: break-word;
    -moz-tab-size: 4;
    tab-size: 4
}

html,
body {
    height: 100%;
}

body {
    line-height: 1;
    letter-spacing: -0.05em;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none
}

fieldset {
    border: 0;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}